<div class="col-sm-offset-4 col-sm-4">
      <form class="form-signin">
      <label>Phone number</label>
        <input type="text" class="form-control"  required autofocus ng-model="info.pn">
      <label>Country</label>
        <input type="text" class="form-control"  required autofocus ng-model="info.co">        
      <label>City</label>
        <input type="text" class="form-control"  required autofocus ng-model="info.ci">
      <label>Skype</label>
        <input type="text" class="form-control" required ng-model="info.sk">
      <label>GitHub</label>
        <input type="text" class="form-control" required ng-model="info.gh">
      <label>Description</label>
        <input type="text" class="form-control" required ng-model="info.ds">
<br>
          <a href="#mainpage"><button class="btn btn-sm btn-success " type="button" ng-click="info.UpdateInfo()">Save</button></a>
          
      </form>
</div>